.container {
  margin-top: 1em;
}

.innerContainer > div:not(.hidden) {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.innerContainer {
  flex-direction: column;
}

.innerContainer input {
  margin-right: 0.5em;
}

.innerContainer span {
  min-width: 10em;
}

.hidden {
  display: none;
}

.open {
  display: flex;
}
